@using System.ComponentModel.DataAnnotations
@inject IPersonsClient PersonsClient

<EditForm Model="@this" class="form" OnValidSubmit="Search">

    <DataAnnotationsValidator />

    <div class="form-group">

        <div class="mb-3">
            <label class="form-label">Customer no</label>
            <InputNumber class="form-control" @bind-Value="this.CustomerNo" aria-label="Customer no" />
        </div>

        <ValidationMessage For="() => this.CustomerNo" />
    </div>

    <button class="btn btn-primary">Find</button>
    <button type="button" class="btn btn-secondary" @onclick="async () => await ModalInstance.CancelAsync()">Cancel</button>

</EditForm>

@code {
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; } = null!;

    [Parameter] public int CustomerNo { get; set; }

    async Task Search()
    {
        var person = await PersonsClient.GetPersonByCustomerNoAsync(CustomerNo);

        await ModalInstance.CloseAsync(ModalResult.Ok(person));
    }
}